:root {
  --border: solid 1px rgba(0, 0, 0, 0.095);
  --primary-colour: rgba(0, 128, 255, 0.282);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  /* Prevent the default resize handle from appearing */
  resize: none;
  padding: 10px;
}

/* Styling for the main header */
.jumbotron {
  text-align: center;
  color: black;
  border-radius: 0;
  border-bottom: var(--border);
  background-color: var(--primary-colour);
}

/* Allow line breaks to be preserved */
.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.time-block label {
  width: 6rem;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.past {
  background-color: #d3d3d3 !important;
  color: rgb(0, 0, 0);
}

.present {
  background-color: #f39034 !important;
  color: white !important;
}

.future {
  background-color: #83c84e !important;
  color: white !important;
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn:hover {
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
}

footer {
  border-top: var(--border);
  background-color: var(--primary-colour);
}
